.h1 {
  color: rgba(31, 37, 37, 0.649);
  font-size: 3rem;
  margin-top: 2%;
}
.p{
  font-size: 200%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5%;
}
.p1{
  font-size: 200%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.img{
  border-radius: 30px;
  display: block;
  margin: auto;
}