.lista {
  display: flex;
  margin-top: 3px;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  justify-content: flex-start;
}

@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Teko:wght@300..700&display=swap');

.link {
  margin-right: 10px;
  position: relative;
  list-style: none;
  min-width: max-content;
}

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e7dccb;
  box-shadow: 0 5px 10px #e7dccb;
}

.logo {
  display: flex;
  align-items: center;
}

.img {
  height: 90px;
  width: 100px;
  border-radius: 40%;
  margin-right: 10px;
}

.h1 {
  color: rgba(31, 37, 37, 0.649);
  font-size: 200%;

}

.nav {
  display: flex;
  gap: 20px;
  background-color:#e7dccb ;
}

.nav ul {
  list-style: none;
  gap: 10px;
}

.nav a {
  color: var(--text-color);
  text-decoration: none;
}

.menuButton {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  color: rgba(31, 37, 37, 0.649);
}

@media (max-width: 600px) {
  .nav {
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: 1s;
  }

  .nav.open {
    /* display: block; */
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #e7dccb ;
    padding: 10px;
    max-height: 100vh;
    overflow: visible;
    transition: 1s;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }
}

.link {
  position: relative;
}

.link:hover .ul_medico {
  display: flex;
}

.ul_medico {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 10px;
  background-color: #333;
  color: #fff;
  /* min-width: 160px; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
  /* z-index: 1; */;
  margin-right: 10px;
  position: relative;
  list-style: none;
  min-width: max-content;
}

.l {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "cursive", serif;
  font-size: 20px;

}